<!DOCTYPE html>
<html >
	<head>
		<meta charset="UTF-8">
		<title>ShallDo</title>

		<link rel="stylesheet" href="static/css/normalize.css">

		<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans'>
		<link rel='stylesheet prefetch' href='/static/js/jquery.mCustomScrollbar.min.css'>
		<link rel="stylesheet" href="static/css/style.css">
		<script src="/static/js/jquery-latest.js"></script>
	</head>

	<body onload="init()" id="page_body">

<div class="chat">
<div class="chat-title">
	<h1>中文聊天机器人</h1>
	<h2>咱们唠个五毛钱的天呗</h2>
	<figure class="avatar">
		<img src="static/res/easybot.png" /></figure>
</div>
<div class="messages">
	<div class="messages-content"></div>
</div>
<div class="message-box">
	<textarea type="text" class="message-input" placeholder="Type message..."></textarea>
	<button type="submit" class="message-submit">Send</button>
</div>

</div>
<div class="bg"></div>
		<script src='/static/js/jquery.min.js'></script>
<script src='/static/js/jquery.mCustomScrollbar.concat.min.js'></script>

				<script src="static/js/index.js"></script>

	</body>
</html>
